.card-body > h5 {
  min-height: 48px;
}

.card {
  cursor: pointer;
}

.modal-dialog {
  min-width: 60vw;
}

#modal-img {
  width: 25vw;
  height: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-width: 90vw;
  }
}
