html {
  font-family: 微軟正黑體, 'Arial Unicode MS';
}

.carousel-inner > div.item {
  height: 437px;
  background-color: #ffffff;
  border-radius: 3px;
}

.carousel-inner > div.item > img {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.video-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 90vh;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-body > h5 {
  min-height: 48px;
}

.card {
  cursor: pointer;
}

.container {
  margin-top: 30px;
}

.top-16 {
  margin-top: 16px;
  margin-bottom: 30px;
}

.float {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 20vh;
  color: #fff;
  text-align: center;
}

.float > div {
  background-color: #f8b302;
  cursor: pointer;
}

.side-menu > div:hover {
  color: #555555;
}

.side-menu {
  width: 20vw;
  font-size: 1.2rem;
}

.side-menu > div {
  border: solid 1px #fff;
  padding: 3px 0;
}

.side-menu-title {
  border-right: solid 2px #fff;
  padding: 12px 8px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1rem;
  max-height: 120px;
  border-radius: 15px 0px 0px 15px;
  white-space: nowrap;
}

/* 團隊資料 intro */

.project_description,
.project_details {
  margin-bottom: 16px;
}

.project_description > p {
  font-size: 16px;
}

.project_details {
  border-top: 1px solid #e2e2e2;
}

.dividerHeading h4,
.widget_title h4 {
  border-bottom: 1px solid #e2e2e2;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 25px;
  padding: 0 0 10px;
  position: relative;
  text-transform: uppercase;
}

.project_details .details li {
  border-bottom: 1px solid #f2f2f2;
  color: #a3a3a3;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 0;
}

.project_details .details li span {
  color: #686868;
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  position: relative;
  width: 30%;
}

.project_details .details {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dividerHeading h4,
.widget_title h4 {
  border-bottom: 1px solid #e2e2e2;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 25px;
  padding: 0 0 10px;
  position: relative;
}

.btn-links {
  position: absolute;
  right: 0px;
  bottom: 1px;
}

.btn-links > button {
  border: none; /* Remove borders */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  background-color: transparent;
}

/* owl-carousel 客製化 */

.owl-item > img {
  width: 200px;
  height: 200px;
}

.owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}

.owl-prev,
.owl-next {
  width: 23px;
  height: 23px;
  display: inline-block;
  text-align: center;
}
.owl-prev:after,
.owl-next:after {
  font-family: 'FontAwesome';
  content: '\f104';
  font-size: 20px;
  line-height: 22px;
}

.owl-next:after {
  content: '\f105';
}

/* 團隊列表 hover 動畫(http://bestjquery.com/tutorial/our-team/demo65/) */
.our-team {
  background: rgba(255, 255, 255, 1);
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  padding: 0 !important;
  cursor: pointer;
  margin-bottom: 30px;
}
.our-team img {
  width: 100%;
  height: auto;
  transition: all 0.55s ease 0s;
}
.our-team:hover {
  background: #000;
}
.our-team:hover img {
  opacity: 0.5;
}
.our-team .team-content {
  padding: 5px 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  transition: all 0.55s ease 0s;
}
.our-team:hover .team-content {
  opacity: 1;
}
.our-team .team-content:before,
.our-team .team-content:after {
  content: '';
  width: 400px;
  height: 2px;
  background: #95ccea;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateX(100%);
  transition: all 0.55s ease 0s;
}
.our-team .team-content:after {
  top: auto;
  left: auto;
  bottom: 0;
  right: 10px;
  transform: translateX(-100%);
}
.our-team:hover .team-content:before,
.our-team:hover .team-content:after {
  transform: translate(0, 0);
  transition-delay: 0.15s;
}
.our-team .title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.our-team .title:before,
.our-team .title:after {
  content: '';
  width: 2px;
  height: 300px;
  background: #95ccea;
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateY(100%);
  transition: all 0.55s ease 0s;
}
.our-team .title:after {
  top: auto;
  right: auto;
  bottom: 10px;
  left: 0;
  transform: translateY(-100%);
}
.our-team:hover .title:before,
.our-team:hover .title:after {
  transform: translate(0, 0);
}
.our-team .post {
  display: block;
  padding: 5px 10px;
  background: #95ccea;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-item {
  display: flex;
  padding: 8px 0px;
  border-bottom: solid 1px #c0c0c0;
}

.list-item > div {
  display: flex;
}

.list-item-avatar {
  justify-content: center;
}

.list-item-content {
  flex: 1;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.list-item-chevron {
  align-items: center;
  color: #c0c0c0;
}

.top-bar {
  position: relative;
}

.input-prepend {
  margin-left: 30px;
}

.top-bar a {
  text-decoration: none;
}

.top-bar > a:focus,
.top-bar > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.top-bar > .btn {
  cursor: pointer;
  color: #005580;
  min-width: 6vw;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.top-bar > .btn .caret {
  margin-left: 3px !important;
}

.top-bar > .btn:focus,
.top-bar > .btn:hover {
  color: #08c;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
}

/* loading 元件 */

.cv-spinner {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  margin-top: 10vh;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

/* 覆寫 bootstrap */

.carousel-control {
  display: none;
}

.carousel-control:hover {
  display: block;
}

.carousel-indicators {
  bottom: -35px !important;
}

.carousel-indicators li {
  border: 1px solid #444444;
  margin-right: 5px;
}

.carousel-indicators .active {
  background-color: #444444;
  margin: 0 5px 0 0;
}
.nav {
  margin-left: auto !important;
}

.nav > li > a {
  color: #0088cc;
  text-decoration: none;
}

/* RWD */
.visible-xs-block {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 8px;
    width: unset !important;
  }

  .hidden-xs {
    display: none;
  }

  .visible-xs-block {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .our-team {
    margin-bottom: 30px;
  }
}
